
@font-face {
  font-family: "Cloister";
  src: local("Cloister"),
      url(./fonts/CloisterBlack.ttf) format("truetype");
}

@font-face {
  font-family: "Medieval";
  src: local("Medieval"),
      url(./fonts/MedievalSharp-Regular.ttf) format("truetype");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99);
}


html{
  width: 100%;
  height: 100vh;
  margin: 0px;
}
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: 'Medieval', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-contents{
  font-size: 1.5rem;
  overflow: auto;
  padding-bottom: 40px;
  text-align: center;
}
.site-header{
  font-family: "Cloister", Helvetica, Arial;
  font-size: 4rem;
  font-weight: 500;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  /*margin-top: 60px;*/
  margin: 0px;
  padding: 40px 0px;
}

.zip-input{
  
  padding-top: 1.5rem;
}

.forecast{
  padding-top: 1.5rem;
  font-size: 1.3rem;
}